{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block content %}


<table class="table table-bordered">
    <thead>
      <tr>
        <th>ClientName</th>
        <th>Title</th>
        <th>Amount</th>
         <th>Description</th>
          <th>Date</th>
      </tr>
    </thead>
    <tbody>

        {% for row in data %}

      <tr>
        <td>{{ row.client.username}}</td>
        <td>{{ row.title }}</td>
        <td>{{ row.amount }}</td>
        <td> {{ row.description }}</td>
          <td>{{ row.date }}</td>

      </tr>

        {% endfor %}

    </tbody>
  </table>
<h2><a href="create">Go Back</a> </h2>

{% endblock %}
