{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block content %}


<table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Title</th>
         <th>View</th>
      </tr>
    </thead>
    <tbody>

        {% for row in data %}

      <tr>
          <td>{{ row.client_id }}</td>
        <td>{{ row.client.username}}</td>
        <td>{{ row.title }}</td>

        <td>
            <span>
            <a href="viewrow?id={{row.id}}" class="btn btn-info btn-xs">VIEW</a>
            </span>
        </td>
      </tr>

        {% endfor %}

    </tbody>
  </table>

{% endblock %}
