{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block content %}


<table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Title</th>
         <th>Currency</th>
          <th>Description</th>
          <th>Date</th>
      </tr>
    </thead>
    <tbody>

     <tr>
          <td>{{ data.client_id }}</td>
        <td>{{ data.client.username }}</td>
        <td>{{ data.title }}</td>
         <td>{{ data.currency }}</td>
         <td>{{ data.description }}</td>
         <td>{{ data.date }}</td>

      </tr>

    </tbody>
  </table>

{% endblock %}
